<div class="container">
  <div>
    <h1>Stupid coach</h1>

    <div class="">
      <p>Ask your coach anything</p>
      <form action="/answer" data-turbo="false" method="get">
        <input type="text" name="question">
        <input type="submit" value="Ask!">
      </form>
    </div>
  </div>
</div>
